# 新聞爬蟲傳到ＭySQL

In [ ]:
import pymysql

titles = [] #所有title
titles_fin = [] #不重複的title
titles_dict = {} #title對應到的news

#建立Connection物件
try: 
    connection = pymysql.connect(host='us-cdbr-east-02.cleardb.com', port=3306, user='bf6bdd17af0b08', passwd='0af9d14e', db='heroku_0f6b89cef5e8ad8',charset='utf8')
    cur = connection.cursor(cursor=pymysql.cursors.DictCursor) #獲取游標 #生成字典
    print('建立連線')
    sql = 'select * from 3title' #資料庫名稱加上3title才完整
    cur.execute(sql)
    rows = cur.fetchall() # 獲取所有的資料
    #print(rows)
    for row in rows:
        titles.append(row['title1'])
        titles.append(row['title2'])
        titles.append(row['title3'])
except:
    pass
    print('3title異常')

#print(titles)
for title in titles:
    if title not in titles_fin:
        titles_fin.append(title)
        titles_dict[title] = []
    else:
        print('title already exists')
#print(titles_fin)
#print(titles_dict)

try:
    for i in range(len(titles)):
        param = titles_fin[i]
        #print(param)
        sql = "SELECT * FROM news_data WHERE title Like '%%%%%s%%%%' order by publishdate desc"%(param)
        #print(sql)
        cur.execute(sql) #執行sql語句
        results = cur.fetchall()  # 拿到返回结果
        #print(results)
        if results == '()':
            print('None')
        else:
            for result in results:
                titles_dict[param].append(result['title'])
                titles_dict[param].append(result['orginid'])
except:
    pass
    #print('error')

with connection.cursor() as cursor:
    sql_news = 'select * from 3title' #資料庫名稱加上3title才完整
    cur.execute(sql_news)
    key_rows = cur.fetchall() # 獲取單行
for key_row in key_rows:
    userid = key_row['userid']
    title1 = key_row['title1'] #每行的新聞標題
    title2 = key_row['title2']
    title3 = key_row['title3']
    news1 = titles_dict[title1] #每行的新聞
    news2 = titles_dict[title2]
    news3 = titles_dict[title3]
    news = news1[0:6]+news2[0:6]+news3[0:6]
    news = "\n".join(news) #單人最後新聞
    insert_lst=[userid, title1, title2, title3, news]
    try:
        with connection.cursor() as cursor:
            query = "INSERT INTO `key_news`(`user_id`,`keyword1`,`keyword2`,`keyword3`,`news`) values(%s, %s, %s, %s, %s)"
            cursor.execute(query,insert_lst)
        connection.commit()
        print('創建')
    except:
        with connection.cursor() as cursor:
            query = "UPDATE key_news SET keyword1 = %s, keyword2 = %s, keyword3 = %s, news = %s WHERE user_id = %s"
            cursor.execute(query,insert_lst) 
        connection.commit()
        print('更新')



#更新資料
cur.close()
connection.close()
print('連線結束')

建立連線
title already exists
title already exists
更新
更新
更新
更新
更新
更新
更新
更新
連線結束

In [ ]:
####推播給用戶 newspush.py，會放在Scheduler裡####
import linebot
from linebot import LineBotApi
from linebot.models import TextSendMessage, ImageSendMessage
from linebot.exceptions import LineBotApiError
import pymysql

CHANNEL_ACCESS_TOKEN = "2v5RXVtycew7FrnIya+Cjjq77SWENVwH8J5IhE+C0hnHcwebu66mNDEcsKNrIyY+4S/MnjyuAHZKZ4PWQycW6sAW7kwZIzO98Uwyly78d3PYpaHIO9N7b1vuD84ZEbKBY3kIxLSKcsJhBKRKzhpNqAdB04t89/1O/w1cDnyilFU="
line_bot_api = LineBotApi(CHANNEL_ACCESS_TOKEN)

connection = pymysql.connect(host='us-cdbr-east-02.cleardb.com',
                                 user='bf6bdd17af0b08',
                                 port=3306,
                                 password='0af9d14e',
                                 db='heroku_0f6b89cef5e8ad8',
                                 charset='utf8',
                                 cursorclass=pymysql.cursors.DictCursor)
with connection.cursor() as cursor:
    sql = "SELECT `user_id`, `news` FROM `key_news`"
    cursor.execute(sql)
    result = cursor.fetchall()
for i in result:
    line_bot_api.push_message(i["user_id"],TextSendMessage(text=i["news"]))

ModuleNotFoundError: ignored

In [ ]:
#抓取關鍵字 #fetch3title
import pymysql

titles = [] #所有title
titles_fin = [] #不重複的title
titles_dict = {} #title對應到的news

#建立Connection物件
try: 
    connection = pymysql.connect(host='us-cdbr-east-02.cleardb.com', port=3306, user='bf6bdd17af0b08', passwd='0af9d14e', db='heroku_0f6b89cef5e8ad8',charset='utf8')
    cur = connection.cursor(cursor=pymysql.cursors.DictCursor) #獲取游標 #生成字典
    print('建立連線')
    sql = 'select * from 3title' #資料庫名稱加上3title才完整
    cur.execute(sql)
    rows = cur.fetchall() # 獲取所有的資料
    #print(rows)
    for row in rows:
        titles.append(row['title1'])
        titles.append(row['title2'])
        titles.append(row['title3'])
except:
    pass
    print('3title異常')

#print(titles)
for title in titles:
    if title not in titles_fin:
        titles_fin.append(title)
        titles_dict[title] = []
    else:
        print('title already exists')
print(titles_fin)
print(titles_dict)

try:
    for i in range(len(titles)):
        param = titles_fin[i]
        print(param)
        sql = "SELECT * FROM news_data WHERE title Like '%%%%%s%%%%'"%(param)
        print(sql)
        cur.execute(sql) #執行sql語句
        results = cur.fetchall()  # 拿到返回结果
        #print(results)
        if results == '()':
            print('None')
        else:
            for result in results:
                titles_dict[param].append(result['title'])
                titles_dict[param].append(result['orginid'])
except:
    pass
    print('error')

print(titles_dict)

sql_news = 'select * from 3title' #資料庫名稱加上3title才完整
print(sql_news)
cur.execute(sql_news)

key_rows = cur.fetchall() # 獲取單行
#print(key_rows)
for key_row in key_rows:
    if key_row != '':
        userid = key_row['userid']
        title1 = key_row['title1'] #每行的新聞標題
        title2 = key_row['title2']
        title3 = key_row['title3']
        print(userid, title1, title2, title3)
        news1 = titles_dict[title1] #每行的新聞
        news2 = titles_dict[title2]
        news3 = titles_dict[title3]
        print(news1, news2, news3)
        try:
            news = news1[0:6]+news2[0:6]+news3[0:6]
            news = "\n".join(news) #單人最後新聞
            print(news)
        except:
            print('news done')
        try:
            sql_insert = "insert into heroku_0f6b89cef5e8ad8.key_news(user_id,keyword1,keyword2,keyword3,news) values(%s, %s, %s, %s, %s)"
            print(sql_insert)
            cur.execute(sql_insert,(userid, title1, title2, title3, news))
            connection.commit()
            print('插入一行')
        except:
            #print('123') #使用update大法
            query = "UPDATE key_news SET news = %s WHERE user_id = %s"
            val = (news, userid)
            cur.execute(query,val) 
            connection.commit()
    else:
        break

print('no more news')



#更新資料
cur.close()
connection.close()
print('連線結束')

In [ ]:
import json
import requests
# 爬網址 list
newsList = ['feed%2Fhttp%3A%2F%2Fnews.cnyes.com%2Frss%2Fv1%2Fnews%2Fcategory%2Fheadline','feed%2Fhttps%3A%2F%2Fctee.com.tw%2Ffeed','feed%2Fhttps%3A%2F%2Fmoney.udn.com%2Frssfeed%2Fnews%2F1001%2F5590%2F5710%3Fch%3Dmoney','feed%2Fhttp%3A%2F%2Ftw.news.yahoo.com%2Frss%2Fbiz']
for news in newsList:
    # 取得API回傳的內容 
    response = requests.get('https://cloud.feedly.com/v3/streams/contents?ranked=engagement&count=5&streamId='+ news)
    text = response.text
    textDict = json.loads(text) # 把JSON字串轉字典
    print(textDict['title'])
    items = textDict["items"]
    for item in items:
        print(item['title'])
        print(item["alternate"][0]['href'])
        try:
            print(item['engagement']) #人氣
            print(item['content']['content']) #新聞內容
            print(item['keywords']) #feedly提供的新聞標籤
        except:
            pass

Anue鉅亨
德國疫情失控 梅克爾下令周三起全國「硬封鎖」
https://news.cnyes.com/news/id/4551592
685
德國總理梅克爾宣布從本周三 (16 日) 起至 1 月 10 日止，德國採取硬性封鎖政策，全德國將強制關閉非必要的商店，至於不在強制內的企業與商家德國政府以勸導方式希望能配合關閉工作場所，並鼓勵學生留在家中，同時在跨新期間禁止聚會。 德國總理梅克爾提出警告表示，德國衛生體系的壓力正在上升，德國之前採取的防疫措施仍無法有效抑制肺炎病毒傳播，因此德國政府被迫採取更多行動。她說：「最近數日我們看到感染率上升並且呈指數級增長，這意味著我們不得不為許多人不幸喪生的感到哀悼。」 德國之前已實施為期近六周的軟性的封鎖政策，...
['國際政經']
晶技11月獲利優於上月 前11月每股稅前賺4.89元
https://news.cnyes.com/news/id/4551683
207
頻率元件廠晶技 (3042-TW) 11 月營收為 10.72 億元，為今年來連續第 4 個月站穩 10 億元，月減 1.36%，年增 30.36%，在有利出貨結構下，估單月稅前盈餘較上月增加 2-3%，達 1.65 億元，年增 73%，單月每股稅前盈餘 0.52-0.53 元。 晶技前 10 月稅前盈餘 13.49 億元，估前 11 月稅前盈餘 15.14 億元，年增 1.18 倍，每股稅前盈餘 4.89 元。 依照目前接單及出貨進度來看，晶技 12 月營收仍能持穩在該水準以上，第四季營收將改寫 32 億元新高。 晶技今年前 11 月營收為 99.74 億元，年增 0.83%，今年營收將攻破 110 億元，改寫...
['台股新聞']
三大法人合買群創 聯手加碼13.51萬張
https://news.cnyes.com/news/id/4551771
165
台股今 (14) 日下跌 50.64 點，以 14211.05 點作收，成交值萎縮為 2323.84 億元，三大法人外資及陸資賣超、投信買超、自營商賣超，合計賣超 57.67 億元，其中面板股群創 (3481-TW) 最搶手，三大法人聯手買超 13.51 萬張。 今日集中市場三大法人外資及陸資賣超 37.8 億元，投信買超 2.46 億元，自營商賣超 22.33 億元，外資在期貨市場持續布空單，空單口數今天新增 3178 口，未平倉合約口數達 4622 口。 今天集中市場外資買超較多的個股為，群創、陽明、長榮、欣興、中石化、南電、台聚、強茂、華夏、仁寶；今天集中市場外資賣超較多的個...
['台股新聞']
拜登綠色新政第一槍 宣布上任首日重返《巴黎協定》
https://news.cnyes.com/news/id/4551634
141
聯合國 12 日與英、法、義等國家共同舉辦視訊會議，慶祝《巴黎協定》簽署 5 周年，美國總統當選人拜登當天在推特宣布，39 天後，也就是他入主白宮的第一天，美國就會重新加入《巴黎協定》。 拜登 12 日透過推特發文，「5 年前的今天，世界各國通過有關氣候變遷的《巴黎協定》。39 天後，美國將重新加入。我們將團結全世界，推動更大更快的進展，正視氣候危機。」 不只推文，拜登也發表聲明，將竭盡全力開展相關工作，包括出任總統 100 天內召集主要經濟體國家領導人，舉行氣候峰會；同時將採取更大膽的綠色能源政策，全面遵循「綠色新政...
['國際政經']
美商藝電搶親成功 擊敗Take-Two以12億美元收購Codemasters
https://news.cnyes.com/news/id/4551762
89
美國遊戲商美商藝電 (Electronic Arts)(EA-US) 週一 (14 日) 宣布，將以 12 億美元收購英國遊戲開發及發行商 Codemasters，上月才剛和 Codemasters 達成協議的遊戲開發商 Take-Two 慘遭出局。 EA 預計，交易將於 2021 年第 1 季完成，收購估值約 12 億美元，屆時 Codemasters 股東每股普通股將獲得 6.04 英鎊現金，與 Codemasters 的收購案將會是 EA 史上最大的一筆交易。 成立於 1980 年代的 Codemasters 是英國老牌遊戲開發商之一，近幾十年來以開發賽車遊戲聞名，例如《越野菁英賽》(Dirt Rally)、《一級方程式賽車》(F1) 系列及《極...
['美股']
工商時報
德國新冠疫情失控 16日起封城至明年1/10
https://ctee.com.tw/news/global/386082.html
309
前身金礦「IT’S DAVID」傳欠薪全倒閉！
https://ctee.com.tw/news/industry/386155.html
242
大專劍道決賽氣勢萬鈞　萬昱祥高橋佑果勇奪男女冠軍
https://ctee.com.tw/industrynews/campus/385889.html
127
好薪酸！調查：年終再縮水 創九年新低
https://ctee.com.tw/news/policy/386353.html
90
小散戶哭了！逼進萬五 下殺還能進場？
https://ctee.com.tw/insights/386086.html
87
經濟日報
印度廠暴動事件影響 緯創爆量走低逾4%
https://money.udn.com/money/story/5710/5090483
36
淘帝-KY12月來跌幅55% 致信股東減低疑慮
https://money.udn.com/money/story/5710/5091894
法人看好力成本季營運 投信連9買
https://money.udn.com/money/story/5710/5091787
富邦媒盤中股價跌破600元 寶雅超車成類股股王
https://money.udn.com/money/story/5710/5091069
台韓科技指數 新增南亞科、欣興等六檔
https://money.udn.com/money/story/5710/5090734
財經新聞 - Yahoo奇摩新聞
永康街又一芒果冰收攤！老闆嘆「租金24萬」月虧損6位數
https://tw.news.yahoo.com/%E6%B0%B8%E5%BA%B7%E8%A1%97%E5%8F%88-%E8%8A%92%E6%9E%9C%E5%86%B0%E6%94%B6%E6%94%A4-%E8%80%81%E9%97%86%E5%98%86-%E7%A7%9F%E9%87%9124%E8%90%AC-%E6%9C%88%E8%99%A7%E6%90%8D6%E4%BD%8D%E6%95%B8-014300125.html
850
https://media.zenfs.com/zh-tw/ebc.net.tw/a9e16c8a806ba8bdff699eed4fd04da2
緯創iPhone訂單有變數？印度廠暴動 印媒：恐遭蘋果調查
https://tw.news.yahoo.com/%E7%B7%AF%E5%89%B5iphone%E8%A8%82%E5%96%AE%E6%9C%89%E8%AE%8A%E6%95%B8-%E5%8D%B0%E5%BA%A6%E5%BB%A0%E6%9A%B4%E5%8B%95-%E5%8D%B0%E5%AA%92-%E6%81%90%E9%81%AD%E8%98%8B%E6%9E%9C%E8%AA%BF%E6%9F%A5-023500572.html
139
https://media.zenfs.com/ko/ebc.net.tw/766e28cab2dc73605903578b9977baac
100多萬遺產稅好沉重...沒有現金繳不出來怎麼辦？別擔心，國稅局教你一招化解
https://tw.news.yahoo.com/100%E5%A4%9A%E8%90%AC%E9%81%BA%E7%94%A2%E7%A8%85%E5%A5%BD%E6%B2%89%E9%87%8D-%E6%B2%92%E6%9C%89%E7%8F%BE%E9%87%91%E7%B9%B3%E4%B8%8D%E5%87%BA%E4%BE%86%E6%80%8E%E9%BA%BC%E8%BE%A6-%E5%88%A5%E6%93%94%E5%BF%83-%E5%9C%8B%E7%A8%85%E5%B1%80%E6%95%99%E4%BD%A0-%E6%8B%9B%E5%8C%96%E8%A7%A3-020815985.html
73
https://media.zenfs.com/zh-TW/businesstoday.com.tw/e1f6749cbdc2818b20a77f9569761d3a
台積電季配息2.5元一定要參加　因為法人將回補股票　理由是……
https://tw.news.yahoo.com/%E5%8F%B0%E7%A9%8D%E9%9B%BB%E5%AD%A3%E9%85%8D%E6%81%AF2-5%E5%85%83-%E5%AE%9A%E8%A6%81%E5%8F%83%E5%8A%A0-%E5%9B%A0%E7%82%BA%E6%B3%95%E4%BA%BA%E5%B0%87%E5%9B%9E%E8%A3%9C%E8%82%A1%E7%A5%A8-%E7%90%86%E7%94%B1%E6%98%AF-062149850.html
13
https://media.zenfs.com/zh-TW/businesstoday.com.tw/5d1f61d46328eb976cf778ba5f71309b
桃市建物3戶以上占比不高　稅務局：建商餘屋居多
https://tw.news.yahoo.com/%E6%A1%83%E5%B8%82%E5%BB%BA%E7%89%A93%E6%88%B6%E4%BB%A5%E4%B8%8A%E5%8D%A0%E6%AF%94%E4%B8%8D%E9%AB%98-%E7%A8%85%E5%8B%99%E5%B1%80-%E5%BB%BA%E5%95%86%E9%A4%98%E5%B1%8B%E5%B1%85%E5%A4%9A-014237110.html
7
https://media.zenfs.com/ko/bcc.com.tw/4fb5ca4098ecad2e074887292bb9876b

新聞爬蟲傳到ＭySQL *Code*

In [ ]:
import requests
from datetime import datetime

# 不同網站要改type代號
type = "B"

print("開始爬蟲")

# 修改爬蟲網址
r = requests.get(
    'https://cloud.feedly.com/v3/streams/contents?streamId=feed%2Fhttp%3A%2F%2Ftw.news.yahoo.com%2Frss%2Fbiz&ranked=engagement')
totalDict = r.json()
print("爬蟲結束")

# Get Item
totalItem = totalDict["items"]

# Connect to DB
import MySQLdb

conn = MySQLdb.connect(
    host='us-cdbr-east-02.cleardb.com',
    port=3306,
    user='bf6bdd17af0b08',
    passwd='0af9d14e',
    db='heroku_0f6b89cef5e8ad8'
)

# 建立連線
print("連線 DB")
cur = conn.cursor()

# For each news
print("Get News total rows=" + str(len(totalItem)))
i = 1
for newsDict in totalItem:
    print("Execute Row" + str(i))
    id = newsDict["id"]
    originId = newsDict["originId"]
    title = newsDict["title"]
    publishid = int(newsDict["published"])
    publishDate = datetime.fromtimestamp(int(str(publishid)[:-3])).strftime('%Y-%m-%d %H:%M:%S') #發布日期
    #publishDate = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    content = newsDict["summary"]["content"]
    transactiondate = datetime.now().strftime('%Y-%m-%d %H:%M:%S') #爬蟲當天日期

    # 塞資料前檢查塞過沒 by ID 檢查
    cur.execute("select * from news_data WHERE id = '{}' AND type = '{}'".format(id, type))  # 执行查询
    results = cur.fetchone()  # 拿到返回结果
    if results is None:
        print("id:" + id + " is not exists, INSERT Data:" + title)
        sql = "insert into news_data (id,orginid,type,title,publishid,publishdate,content,tranactiondate) " \
              "values('{}','{}','{}','{}',{},'{}','{}','{}')".format(id, originId, type, title, publishid, publishDate,
                                                                 content, transactiondate)
        print(sql)
        cur.execute(sql)
    else:
        print("id:" + id + " is exists, not INSERT Data:" + title)
    i += 1

# 關閉連線
cur.close()

# conn.commit()方法在提交事物，在向資料庫插入一條資料時必須要有這個方法，否則資料不會被真正的插入。
conn.commit()

# conn.close()關閉資料庫連線
conn.close()

開始爬蟲
爬蟲結束

ModuleNotFoundError: ignored

In [ ]:
print('Hello World')

Hello World